<?xml version="1.0" encoding="UTF-8" ?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    bootstrap="tests/bootstrap.php"
    beStrictAboutOutputDuringTests="true"
    backupGlobals="false"
    verbose="true"
    colors="true">
    <testsuites>
        <testsuite name="SmsRu Tests">
            <directory suffix="Test.php">tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whiteList proccessUncoveredFilesFromWhiteList="true">
            <directory suufix=".php">src</directory>
        </whiteList>
    </filter>
</phpunit>